<%- include ("partials/header") %>
<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%=blog.image %>">
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%- blog.body %></p>
            </div>
            <div class="steam">
                <a href="https://store.steampowered.com/"><i class="steam icon"></i></a>
            </div>
            <br>
            <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <a href="/blogs/<%= blog._id %>/edit" class="ui orange basic button">Edit</a>
                <button class="ui red basic button">Delete</button>
                <a href="/blogs" class="ui green basic button">Home</a>
            </form>
        </div>
    </div>
</div>
<br><br>
<%- include ("partials/footer") %>